{# src/Sdz/BlogBundle/Resources/views/Blog/bye.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
  </head>
  <body>
    <h1>bye {{nom}}</h1>

    <p>
      Le bye  World est un grand classique en programmation.
      Il signifie énormément, car cela veut dire que vous avez
      réussi à exécuter le programme pour accomplir une tâche simple :
      afficher ce bye world !
    </p>
  </body>
</html>